@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Norse";
    src:
        url("../fonts/norse-bold-webfont.woff2") format("woff2"),
        url("../fonts/norse-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

div.left-container {
    --title-size: 120px;
    --logo-size: calc(var(--title-size) + 30px);

    flex-grow: 1;

    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

div.logo-container {
    margin-top: 20%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--logo-size);
    padding: 16px;
}

h1 {
    font-family: "Norse", sans-serif;
    font-size: var(--title-size);
    color: white;
}

img.logo {
    height: var(--logo-size);
}

p.credits {
    background-color: rgba(0, 0, 0, 0.5);

    margin-top: auto;
    text-align: center;
    color: white;
}

p.credits a {
    color: white;
}

p.credits a:hover {
    text-decoration: none;
    font-weight: bold;
}

div.right-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 2;

}

.right-container > p {
    padding-left: 24px;
}

.right-container p {
    font-size: 18px;
    font-weight: bold;
    width: 50ch;
}

p.login {
    font-size: 14px;
    font-weight: normal;
}

.login a {
    color: #E44F97;
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    text-decoration: underline;
}

.input-container {
    display: flex;
    gap: 3rem;
}

.input-container p {
    width: auto;
}

input {
    box-sizing: border-box;

    width: 30ch;
    height: 1.5rem;

    border: 1px black solid;
    border-radius: 4px;
}

.error:invalid {
    border-color: #ff3535;
}

input:focus, input:active, .error:focus, .error:active{
    outline: none !important;
    border-color: #4949ff;
    box-shadow: 5px 5px 10px gray;
}

label {
    text-transform: uppercase;
    font-size: 14px;
}

button[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    color: white;

    background-color: hsl(331, 73%, 60%);
    padding: 0.75rem 2rem;
    border: 0;
    border-radius: 8px;

    box-shadow: 5px 5px 15px gray;
}

button[type="submit"]:hover {
    background-color: hsl(331, 73%, 65%);
}

button[type="submit"]:active {
    background-color: hsl(331, 73%, 55%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

form h2 {
    margin: 0;
}

div.main-section {
    box-shadow: 0px 5px 15px gray;

    padding: 24px;
}

div.submit-section {
    padding-left: 24px;
}
